.chart-card{
  padding: 5%;
}

.chart-panel{
  border: 0.5px solid grey;
  padding: 5%;
}

.chart-text{
  padding-left: 10%;
  padding-bottom: 5%;
  font-size: 20px;
}
.chart-msg{
  color: $cancelColor;
}