form{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 8%;
    padding-top: 5%;
}

.form-control {
  border-radius: 2px;
}
.title{
    margin-bottom: 5%;
}

#country option{
    width: 5px;
}
