$primaryBackground:#f5f7f7;
$primaryButton: #009359;
$primaryColor: #009359;
$primaryColorHover: #008651;
$cancelColor: #b30000;
$cancelColorHover: #990000;
$menuColorHover: #3E9392;
$menuColor: #0C545A;