body {
    background-color: $primaryBackground;
}
.card {
  height: 100%;
  -moz-box-shadow: 0 0 15px rgba(136, 136, 136, 0.27);
  -webkit-box-shadow: 0 0 15px rgba(136, 136, 136, 0.27);
  box-shadow: 0 0 15px rgba(136, 136, 136, 0.27);
  font-size: 15px;
  padding: 2%;
}

.account-card{
  height: 100%;
  border-left: 3px black solid;
  left: 50%;
  position: absolute;
}