<div class="primary-font">
  <div class="panel panel-default">
    <div class="panel-body ">
      <div ng-if="isDoctor" ng-repeat="notif in allNotifications track by $index">
        <div  class="notification-tile-mobile">
          <div class="col-md-6 col-sm-6 col-xs-6">{{notif.Patient.UserDetails.LastName + ' ' + notif.Patient.UserDetails.FirstName}} </div>
          <button class="btn btn-success btn-xs col-md-3 col-sm-3 col-xs-3" ng-click="approve(notif.Patient.Id)">Acceptă</button>
          <button class="btn btn-danger btn-xs col-md-3 col-sm-3 col-xs-3" ng-click="reject(notif.Patient.Id)">Respinge</button>
        </div>
        <br>
      </div>
      <div class="notification-tile-mobile" ng-show="isPatient && data!=null" style="border: 0px">
        <div class="col-md-8 col-sm-8 col-xs-8">{{message}}</div>
        <button class="btn btn-success col-md-4 col-sm-4 col-xs-4" ng-click="ok(data.Patient.Id)">Ok</button>
      </div>
    </div>
  </div>
</div>
